<table class="spells" id="green" cellpadding="0" cellspacing="0">
         <tr>
            <td id="greencauldron"><div><%=image_tag("spells/cauldron.png", :alt => "Cauldron", :size => "30x30")%></div>The Cauldron</td>
            <td id="greenspellhammer"><div><%=image_tag("spells/spellhammer.png", :alt => "SpellHammer", :size => "30x30")%></div>Spellhammer</td>
            <td id="greenclub"><div><%=image_tag("spells/club.png", :alt => "Club", :size => "30x30")%></div>Dagda's Club</td>
            <td id="greenharp"><div><%=image_tag("spells/harp.png", :alt => "Harp", :size => "30x30")%></div>Dagda's Harp</td>
            <td id="greenmist"><div><%=image_tag("spells/mist.png", :alt => "Mist", :size => "30x30")%></div>Mist</td>
            <td id="greenshield"><div><%=image_tag("spells/shield.png", :alt => "Shield", :size => "30x30")%></div>Shield</td>
            <td id="greenshapeshift"><div><%=image_tag("spells/shapeshift.png", :alt => "ShapeShift", :size => "30x30")%></div>Shape Shift</td>
            <td id="greenpossession"><div><%=image_tag("spells/possession.png", :alt => "Possession", :size => "30x30")%></div>Possession</td>
            <td id="greenflight"><div><%=image_tag("spells/flight.png", :alt => "Flight", :size => "30x30")%></div>Flight</td>
        </tr>
</table>